@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;700&display=swap");

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  font-family: "Plus Jakarta Sans", sans-serif, Arial, Helvetica;
}

@media screen and (min-width: 768px) {
  * {
    font-size: 1.6rem;
  }
}
