.navbar_container {
  margin: 0.5rem;
  padding: 0.5rem 5rem;
  border: 1px solid var(--bs-body-color);
  border-radius: 10rem;
  background-color: #fff;

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.85);
  }

  a {
    transition: 0.3s ease-in-out;
  }

  @media (min-width: 576px) {
    max-width: 540px;
    padding: 0.5rem 10rem;
    margin: 0.5rem auto;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}

.brand_icon {
  display: flex;
  align-items: center;

  svg {
    margin-right: 0.5rem;
  }
}
