.info_container {
  align-items: center;

  h1,
  h2 {
    width: fit-content;
  }
}

.info_text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }
}

.info_highlight {
  padding: 0.8rem 1rem 1.2rem 1rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 3rem;

  @media screen and (min-width: 768px) {
    font-size: 4.6rem;
  }
}

.info_2 {
  margin: 0;
  font-size: 2rem;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
    font-size: 3rem;
  }
}

.image_container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  img {
    width: 150px;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
    object-fit: cover;
  }
}

.arrow {
  fill: #000;
}

.posts_container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.posts_heading {

}
