.info_container {
  align-items: center;

  h1,
  h2 {
    width: fit-content;
  }
}

.info_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_highlight {
  padding: 0.8rem 1rem 1.2rem 1rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
  color: #fff;
}

.image_container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.memoji_container {
  display: flex;
  justify-content: center;
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  background-color: var(--accent-color-300);

  img {
    margin-top: 1rem;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.2));
  }
}

.arrow {
  fill: #000;
}

.card_container {
  margin-bottom: 1rem;
  border: solid 1px var(--bs-gray-200);
  background-color: var(--bs-gray-100);

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.card_image {
  height: 20rem;
  object-fit: cover;
  object-position: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  @media screen and (min-width: 768px) {
    height: 15rem;
    width: 20rem;
    aspect-ratio: 16/9;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
  }
}

.card_body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 2rem;
}

.card_title {
  font-size: 2.4rem;
  font-weight: 600;
}

.card_subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0;
}
