.info_container {
  align-items: center;

  h1,
  h2 {
    width: fit-content;
  }
}

.info_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_highlight {
  padding: 0.8rem 1rem 1.2rem 1rem;
  border-radius: 1rem;
  background-color: #a80038;
  color: #fff;
}

.image_container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.memoji_container {
  display: flex;
  justify-content: center;
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  background-color: #bfe9db;

  img {
    margin-top: 1rem;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.2));
    -webkit-filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.2));
  }
}

.card_container {
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  border: solid 1px var(--bs-gray-200);
  background-color: var(--bs-gray-100);
}

.card_title {
  font-size: 2.4rem;
}

.card_subtitle {
  font-size: 1.4rem;
}

.card_text {
  margin-bottom: 0 !important;
}
